body {
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

a { text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.section {
width: 100%;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}
/*=================header===============*/
.header {
border-bottom: 1px solid #e7e9fc;
background: var(--WHITE, #FFF);
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
display: flex;
align-items: center;
    
    
}
.header-navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.header-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: flex;
}

.header-logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
}

.header-menu {
display: flex;
align-items: center;
gap: 40px;
}
.header-menu-item {
display: flex; 
}

.header-menu-link {
color: #2E2F42;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
color: #404BBF;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
color:#404BBF;
}
.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background:#404BBF;
}

.current:hover::after,
.current:focus::after,
.current:active:after {
    display: flex;}
/*========================================*/
/*=================address================*/
.contacts {
font-style: normal
}
.contacts-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
}
.contacts-link {
color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
display: flex;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover {
color: var(--OCEAN, #404BBF);
}
.contacts-link:focus {
color: var(--OCEAN, #404BBF);
}
/*========================================*/
/*=================hero================*/
.hero {
padding: 188px 0;
max-width: 1440px;
margin: 0 auto;
background: var(--NAVY-BLUE, #2E2F42);
background-image: linear-gradient(
rgba(46, 47, 66, 0.70),
rgba(46, 47, 66, 0.70)), 
url(../images/fon-hero.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.hero-container {
display: flex;
flex-direction: column;
align-items: center;
}
.hero-title {
    color: var(--WHITE, #FFF);
    max-width: 496px;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}
.hero-buy-btn {
color: var(--WHITE, #FFFFFF);
    background: var(--IRIS, #4D5AE5);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-buy-btn:hover,
.hero-buy-btn:focus {
    background: var(--OCEAN, #404BBF);
}

/*=====================================*/
/*=================plan================*/
.plan {
padding-top: 120px;
padding-bottom: 120px;
}
.plan-container {
    
    }
.plan-title {
    
}
.plan-list {
display: flex;
gap: 24px;
}
.plan-item {
    width: calc((100% - 72px) / 4);
}
.plan-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
}
.subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.plan-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*=====================================*/
/*=================team================*/
.our-team {
padding-top: 120px;
padding-bottom: 120px;
background: var(--CLOUD, #F4F4FD);
}
.our-team-container {

}
.best-team {
padding-top: 32px;
padding-bottom: 32px;
}

.our-team-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-item {
    width: calc((100% - 24px * 3) / 4);
    background: var(--WHITE, #FFF);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.our-team-text {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-media-soc-container {
display: inline;
width: 232px;
height: 40px;
}
.soc-our-team-list {
display: flex;
align-items: center;
justify-content: center;
gap: 24px;
}
.soc-team-item {
width: 40px;
height: 40px;
}
.soc-ourteam-link {
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-icon {
    fill: #f4f4fd;
    align-items: center;
    justify-content: center;
}
.soc-ourteam-link:hover{
    background-color: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.soc-ourteam-link:focus {
background-color: #404BBF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*=====================================*/
/*==============portfolio==============*/
.our-portfolio {
padding-top: 120px;
padding-bottom: 120px;
}
.our-portfolio-container {

}
.our-portfolio-list {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}
.our-portfolio-item {
width: calc((100% - 24px * 2) / 3);
background: var(--WHITE, #FFF);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.best-portfolio {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-top: none;
    padding: 32px 16px;
}
.our-portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}

.our-portfolio-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.our-portfolio-text {
color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.our-portfolio-item:hover {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-portfolio-item:hover
.portfolio-cover-text{
transform: translateY(0);
}
.our-portfolio-text-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-cover-text {
    position: absolute;
    top: 0;
    display: block;
    padding: 40px 32px;
    height: 100%;
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    background: var(--IRIS, #4D5AE5);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*=====================================*/
/*================footer===============*/
.footer {
background: var(--NAVY-BLUE, #2E2F42);
padding-top: 100px;
padding-bottom: 100px;
}
.footer-container {
display: flex;
align-items: baseline;
margin: 0 auto;
}
.footer-logo {
color: var(--IRIS, #4D5AE5);
display: inline-block;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 16px;
}

.footer-logo-studio {
    color: var(--CLOUD, #F4F4FD);
}
.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.logo-foot {
margin-right: 120px;
}
.media-soc-container {
}

.subtitle-soc-footer {
color: var(--WHITE, #FFF);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.soc-footer-list {
    display: flex;
    gap: 16px;
}

.soc-footer-item {
    width: 40px;
    height: 40px;
}

.soc-footer-link {
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-footer-link:hover,
.soc-footer-link:focus {
background-color:#31D0AA ;

}
.footer-team-icon {
    fill: #f4f4fd;
}


.footer-bottom {

}

.text-subscribe {
color: var(--WHITE, #FFF);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
margin-left: 80px;
}

.footer-form {
display: flex;
gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #FFF);
    background: var(--NAVY-BLUE, #2E2F42);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px;
    margin-left: 80px;
    margin-right: 24px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input::placeholder {
    color: var(--WHITE, #FFF);
    font-size: 12px;
    line-height: 2px;
    letter-spacing: 0.02px;
}
.footer-form-input:focus {
border-color: #4D5AE5;
}
.footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;

}

.footer-team-icon {
    margin-left: 16px;
}



/*=====================================*/
/*===============modal=================*/
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden; 
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    z-index: 1;
    background: var(--DAIRY, #FCFCFC);
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    display: grid;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
}

.modal-btn {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
/*transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
border 250ms cubic-bezier(0.4, 0, 0.2, 1);;
*/
}

.modal-btn .modal-btn-icon {
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-btn:hover,
.modal-btn:focus {

background-color: var(--OCEAN, #404BBF);
border: none;
}
.modal-btn .modal-btn-icon:hover,
.modal-btn .modal-btn-icon:focus {
fill: #ffffff
background-color: #404bbf;
}


.modal-title {
color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Body Medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-field {
margin-bottom: 8px;
}

.modal-input {
    display: flex;
    /*width: 360px;*/ 
    width: 100%;
    height: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    padding-right: 24px;
    margin-bottom: 8px;
    color: #2E2F4266;
    font-size: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap:focus-within .modal-input {
border: 1px solid var(--IRIS, #4D5AE5);
}

.input-wrap:focus-within .modal-icon {
fill:  #4D5AE5;
}
/*.modal-inpot:focus {
    border: 1px solid var(--IRIS, #4D5AE5);
}
.modal-inpot:focus + .modal-icon {
background-color: (--IRIS, #4D5AE5);
}
*/
.modal-form-btn {
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    min-width: 169px;
    cursor: pointer;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none; 
    margin-left: 119px;
    margin-right: 120px;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    width: 58px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.input-wrap {
position: relative;
}
.modal-icon {
    position: absolute;
    fill: #2E2F42;;
    display: flex;
    width: 18px;
    padding: 3px 0px;
    align-items: flex-start;
    gap: 4px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
width: 100%;
height: 120px;
/*height: 138px;*/
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
padding: 8px 16px;
color: rgba(46, 47, 66, 0.4);;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
resize: none;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
}
.modal-comment {
    margin-bottom: 16px;
}
.modal-comment:focus-within .modal-textarea {
border: 1px solid var(--IRIS, #4D5AE5);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.modal-textarea::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-field-check{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.check-text {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.check-text a {
display: inline-flex;
color: var(--IRIS, #4D5AE5);
text-decoration-line: underline;
}

.check-text-box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-check:checked + 
.check-text > .check-text-box {
    background-color: var(--OCEAN, #404BBF);
    fill: #f4f4fd;
    border: none;
}

/*fill: var(--OCEAN, #404BBF);
stroke-width: 1px;
stroke: var(--OCEAN, #404BBF);
}
*/

/*.check-text-icon {


fill: var(--OCEAN, #FFFFFF);
    stroke-width: 1px;
    stroke:  #111148;
}*/


